.card-container.card-vertical {
    display: flex;
    flex-direction: column;
}

.card-container.card-vertical > .card {
    box-sizing: border-box;
    display: block;
}

.card-container.card-vertical > .card:first-child {
    border-radius: 6px 6px 0 0;
}

.card-container.card-vertical > .card:not(:first-child) {
    margin-left: 0px;
    margin-top: -1px;
}

.card-container.card-vertical > .card:last-child {
    border-radius: 0 0 6px 6px;
}
