header {
    width: 100%;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--imp-background);
    transition: background-color 0.3s ease;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-nav-list {
    margin: 0 1em;
}

#theme-switch-ctr {
    margin-left: auto;
    justify-self: flex-end;
    align-self: center;
}

/*
Contenant pour les éléments du menu
*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*
Elément du menu
*/
.card {
    box-sizing: border-box;
    border: 1px solid var(--border);
    padding: 0.5em;
    background-color: var(--background);
    text-align: center;
    font-size: larger;
    color: var(--color);
    margin: 1em 0;
}

/*Elément du menu séléctionné*/
.card.selected-card {
    border-color: var(--border-focus);
    color: var(--color-focus);
    background-color: var(--background-focus);
}

.card:hover:not(.selected-card) {
    background-color: var(--imp-background);
}

.card:first-child {
    border-radius: 6px 0 0 6px;
}

.card:last-child {
    border-radius: 0 6px 6px 0;
}

.card a {
    padding: 0;
    text-decoration: none;
}

#header {
}
