header {
    width: 100%;
    z-index: 9;
    background-color: var(--imp-background);
    transition: background-color 0.3s ease;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-list {
    margin: 0 1em;
}

#theme-switch-ctr {
    margin-left: auto;
    justify-self: flex-end;
    align-self: center;
    margin-right: 10px;
}

/*
Elément du menu
*/
.menu-item {
    box-sizing: border-box;
    border: 1px solid var(--border);
    padding: 0.5em;
    background-color: var(--background);
    text-align: center;
    font-size: larger;
    color: var(--color);
    margin: 1em 0;
}

/*Elément du menu séléctionné*/
.menu-item.selected-card {
    border-color: var(--border-focus);
    color: var(--color-focus);
    background-color: var(--background-focus);
}

.menu-item:hover:not(.selected-card) {
    background-color: var(--imp-background);
}

.menu-item a {
    padding: 0;
    text-decoration: none;
}
