/* Error: Undefined mixin.
 *     ,
 * 140 |         @include vertical-card-container();
 *     |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   styles\main.scss 140:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 140 \2502          @include vertical-card-container();\d\a     \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   styles\\main.scss 140:9  root stylesheet";
}
