header {
    height: 100%;
    width: $sidebar-width;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 9;
    overflow: auto;

    background-color: var(--imp-background);
    transition: background-color 0.3s ease;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#theme-switch-ctr {
    margin-left: auto;
    justify-self: flex-end;
    align-self: center;
    margin-right: 10px;
    text-align: center;

    display: none;
}

.menu-list {
    margin: 1em;
}

/*
Elément du menu
*/
.menu-item {
    padding: 0.5em;

    border: 1px solid var(--border);
    background-color: var(--background);
    color: var(--color);

    text-align: center;
    font-size: larger;

    transition: background-color 0.1s ease;
}

/*Elément du menu séléctionné*/
.menu-item.selected-card,
.menu-item:hover {
    border-color: var(--border-focus);
    color: var(--color-focus);
    background-color: var(--background-focus);
}

.menu-item a {
    padding: 0;
    text-decoration: none;
}

@media only screen and (max-width: $max-width-1) {
    header {
        position: relative;
        width: 100%;
        height: auto;
    }

    #theme-switch-ctr {
        margin: 0 auto;
        margin-top: 10px;
    }
}
